.header {
	position: fixed;
	width: 100%;
	top: 13px;
	z-index: 9999;
	&__container {
		max-width: 1500px;
		margin: 0 auto;
		background: var(--bg-header);
		width: 90%;
		border-radius: 16px;
		padding: 8px 26px;
		@include media(s) {
			background-color: transparent;
		}
		.navbar {
			padding: 0;
			&-expand-lg {
				.navbar-toggler {
					position: absolute;
					right: 0;
					height: auto;
					top: 20px;
					@include media(s) {
						display: none;
					}
				}
			}
			&-collapse {
				justify-content: end;
				@include media(s) {
					background-color: var(--rosa);
					padding: 20px;
					border-radius: 16px;
				}
			}
			&-toggler {
				padding: 0;
				width: 65px;
				font-size: 14px;
				height: 100%;
				background-color: var(--rosa);
				border-radius: 4px;

				&-icon {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 5px;
					width: 100%;
					color: var(--texto-neutro);
				}
			}
		}
		.nav {
			&-link {
				@include general-text;
				font-size: 16px;
				font-weight: 400;
				padding: 0 19px !important;
				color: var(--texto-neutro);
				border-left: 1px solid var(--texto-neutro);
				&.bold {
					font-weight: bold;
				}
				@media (max-width: 1400px) {
					padding: 0 10px !important;
				}
				@include media(s) {
					border: none;
					margin-bottom: 20px;
				}
			}
		}
	}
}

.bg-linhas {
	position: fixed;
	top: 0%;
	overflow: hidden;
	max-width: 100%;
}

.button {
	padding: 6px 30px;
	border-radius: 24px;
	display: block;
	width: 100%;
	text-decoration: none;
	@include text-button;
	text-align: center;
	color: var(--texto-neutro);
	background: var(--azul);
	transition: all 0.2s ease;
	box-sizing: border-box;
	border: 1px solid var(--azul);
	&:hover {
		color: var(--azul);
		background: var(--texto-neutro);
		border: 1px solid var(--azul);
	}
	&--container {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
	&.yellow {
		background: var(--amarelo-dark);
		border: 1px solid var(--amarelo-dark);

		&:hover {
			background: var(--texto-neutro);
			border: 1px solid var(--amarelo-dark);

			color: var(--amarelo-dark);
		}
	}
	&.green-aqua {
		background: var(--verde-agua);
		border: 1px solid var(--verde-agua);

		&:hover {
			background: var(--texto-neutro);
			border: 1px solid var(--verde-agua);

			color: var(--verde-agua);
		}
	}
	&.roxo {
		background: var(--roxo);
		border: 1px solid var(--roxo);

		&:hover {
			background: var(--texto-neutro);
			border: 1px solid var(--roxo);

			color: var(--roxo);
		}
	}
	&.pink {
		background: var(--rosa);
		border: 1px solid var(--rosa);

		&:hover {
			background: var(--texto-neutro);
			border: 1px solid var(--rosa);

			color: var(--rosa);
		}
	}
	&.white {
		background: var(--texto-neutro);
		border: 1px solid var(--texto-neutro);

		color: #4e4310;
		&:hover {
			background: #4e4310;
			color: var(--texto-neutro);
			border-color: #4e4310;
		}
	}
	&.see-all {
		border: 1px solid #ff598c;
		background: transparent;
		color: #ff598c;
		font-weight: 600;
		font-size: 16px;
		margin: 0;
		border-radius: 80px;

		padding: 9px 25px;
		&:hover {
			background: #ff598c;
			color: var(--texto-neutro);
		}
		@include media(s) {
			font-size: 12px;
			padding: 6px 8px;
		}
	}
}

.default__container {
	max-width: 1048px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	margin-bottom: 35px;
	position: relative;
	&::before {
		content: url("../assets/noticias-m.svg");

		position: absolute;
		left: -160px;
		@include media(s) {
			left: 10px;
			top: 5px;

			content: "";
			background-image: url("../assets/noticias.svg");
			background-repeat: no-repeat;
			background-size: 35px 35px;
			width: 35px;
			display: block;
			height: 35px;
		}
	}
	@include media(s) {
		padding: 0 40px;
		justify-content: center;
		gap: 40px;
	}

	.big-category {
		color: var(--rosa);
		margin: 0;
	}

	.divider {
		max-width: 599px;
		width: 100%;
		height: 1px;
		background: #ff598c;
		margin-right: 22px;
		margin-left: 25px;
		@include media(s) {
			display: none;
		}
	}
	.text {
		@include general-text;
		margin: 0;
		max-width: 229px;
		color: #51758d;
		@include media(s) {
			font-size: 14px;
			max-width: 100%;
		}
	}
}

.footer {
	background-image: url("../assets/footer.png");
	img {
		max-width: 100%;
		height: auto;
	}
	@include media(s) {
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		margin-top: -225px;
		// padding-bottom: 100px;
		padding-top: 140px;
	}
	height: 702px;
	display: flex;
	justify-content: center;
	position: relative;
	align-items: center;
	margin-top: -200px;
	padding-top: 150px;
}

.color-change {
	transition: all 0.3s ease-in-out;
}
