.hero {
	background: url("../assets/bg-hero.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 871px;
	padding-top: 250px;
	position: relative;
	z-index: 2;
	overflow: hidden;
	clip-path: ellipse(100% 78% at 37% 24%);
	@media (max-width: 1600px) {
		height: 670px;
		padding-top: 150px;
	}
	@include media(s) {
		background: url("../assets/fundo-hero-mobile.png");
		background-size: cover;
		background-color: #ffec00;
		clip-path: ellipse(100% 75% at 48% 25%);
		height: 756px !important;
	}
	&__container {
		max-width: 1240px;
		margin: 0 auto;
		overflow: hidden;
		@include media(s) {
			padding: 0px 20px;
		}
		@include media(m) {
			padding: 0 10%;
		}
		.logo {
			max-width: 500px;
			position: relative;
			z-index: 2;
			@include media(s) {
				max-width: 100%;
				height: auto;
			}
			@include media(m) {
				max-width: 300px;
				height: auto;
			}
		}
		.blue-img {
			position: absolute;
			max-width: 100%;
			overflow: hidden;
			top: -258px;
			right: 0px;
			mask-image: url("../assets/estrela-hero.svg");
			img {
				max-width: 100%;
				height: auto;
			}
			@include media(m) {
				top: 100px;
			}
			&::after {
				content: url("../assets/personagens.svg");
				position: absolute;
				right: 150px;
				bottom: 82px;
				@include media(m) {
					right: 0;
					bottom: 20px;
				}
			}
			@media (max-width: 1600px) {
				max-width: 100%;
				top: -200px;
				right: -180px;
				transform: scale(0.7) !important;
				&::after {
					transform: scale(0.9);
					right: 200px;
					bottom: 200px;
				}
				img {
					max-width: 100%;
				}
			}
			@include media(s) {
				display: none;
			}
		}
	}
	&__desc {
		max-width: 363px;
		@include general-text;
		color: #272d4a;
		margin-left: 100px;
		margin-top: 24px;
		@include media(s) {
			margin-left: 0;
			text-align: center;
			font-size: 16px;
		}
		@include media(m) {
			margin-left: 0;
		}
	}

	.item {
		img {
			max-width: 100px;
			height: auto;
		}
		&-raio {
			&-1 {
				left: 35px;
				top: 100px;
				@include media(s) {
					display: none;
				}
				@include media(m) {
					display: none;
				}
			}
			&-2 {
				left: 100px;
				top: 300px;
				@include media(s) {
					left: 20px;
					top: unset;
					bottom: 100px;
				}
				@include media(m) {
					top: 400px;
				}
			}
			&-3 {
				left: 370px;
				@include media(s) {
					left: 20px;
					top: 145px;
					max-width: 50px;
					img {
						max-width: 50px;
						height: auto;
					}
				}
			}
			&-4 {
				right: 70px;
				top: 300px;
				@include media(s) {
					top: unset;
					bottom: 200px;
					right: 30px;
				}
			}
			&-5 {
				right: 120px;
				top: 100px;
				@include media(s) {
					right: -85px;
				}
			}
		}
		&-smile {
			left: 35px;
			bottom: 50px;
			@include media(s) {
				left: 0;
				right: 0;
				margin: 0 auto;
				max-width: 40px;
				height: 40px;
				bottom: 0;
				top: 100px;
				img {
					max-width: 40px;
					height: auto;
				}
			}
		}
		&-pen {
			right: 200px;
			bottom: 40px;
			z-index: 2;
			max-width: 80%;
			@include media(s) {
				right: -4px;
				bottom: 65px;
				img {
					max-width: 60px;
				}
			}
		}
		&-rock {
			right: 600px;
			@include media(m) {
				display: none;
			}
		}
		&-two-f {
			right: 200px;
			top: 100px;
			@include media(s) {
				display: none;
			}
			@include media(m) {
				display: none;
			}
		}
	}
}

.storiesHolder {
	padding-top: 80px;
	.stories {
		padding-top: 0;
		max-width: 700px;
		margin: 0 auto;
		text-align: center;
		@include media(s) {
			padding-left: 20px;
		}
		.story {
			margin: 0 20px;
			width: 100%;
			max-width: 128px;
			height: 100%;
			@include media(s) {
				max-width: 60px;
				margin: 0 15px;
			}
			.item-link {
				.item-preview {
					width: 99px;
					height: 99px;
					max-height: 99px;
					border: 3px solid var(--cat-s);
					@include media(s) {
						width: 60px;
						height: 60px;
						max-width: 60px;
						border-width: 1px;
					}
				}
				.info {
					display: block;
					text-overflow: unset;
					color: #51758d;
					overflow: unset;
					height: 100%;
					word-wrap: break-word;
					@include general-text;
					max-width: 100px;
					.name {
						font-weight: 700;
					}
					strong {
						max-width: 100%;
						display: block;
						word-wrap: break-word;
						text-wrap: balance;
					}
					@include media(s) {
						font-size: 14px;
						text-align: center;
					}
				}
			}
		}
	}
}

.content {
	padding-top: 80px;
	position: relative;
	margin-bottom: 158px;
	.container {
		display: grid;
		max-width: 1118px;
		padding: 0;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 0.9fr 0.9fr 1.2fr;
		gap: 20px 20px;
		grid-template-areas:
			"apostilas teste teste"
			"apostilas redacao redacao"
			"simulado guias tutoria";

		.card {
			padding: 25px;
			border-radius: 24px;
			cursor: pointer;
			@include media(s) {
				max-width: 327px;
				position: sticky;
			}
			@include media(m) {
				max-width: 327px;
				position: sticky;
			}
			.small-category {
				margin-bottom: 22px;
			}
			.general-text {
				color: #fff;
				font-size: 16px;
			}
		}
		@include media(s) {
			display: flex;
			flex-direction: column;
			padding: 0 20px;
			justify-content: center;
			align-items: center;
		}
		@include media(m) {
			display: flex;
			flex-direction: column;
			padding: 0 20px;
			justify-content: center;
			align-items: center;
		}
	}

	.apostilas {
		grid-area: apostilas;
		background: url("../assets/bg-apostilas.png");
		background-repeat: no-repeat;
		position: relative;
		overflow: hidden;
		@include media(s) {
			top: 120px;
		}
		@include media(m) {
			top: 150px;
		}

		&::after {
			content: url("../assets/mask-card-white.svg");
			position: absolute;
			bottom: -8px;
			width: 101%;
			left: -1px;
		}
		.small-category {
			color: #136971;
		}

		.button--container {
			position: relative;
			z-index: 3;
			margin-top: 140px;
		}
	}

	.teste {
		grid-area: teste;
		background: var(--azul);
		position: relative;
		@include media(s) {
			overflow: hidden;
			height: 600px;
			top: 140px;
		}
		@include media(m) {
			overflow: hidden;
			height: 600px;
			top: 170px;
		}
		&:hover {
			&::before {
				transform: rotate(-8deg);
			}
		}
		&::before {
			position: absolute;
			content: url("../assets/woman-lupa.svg");
			right: 75px;
			top: 0;
			z-index: 2;
			transition: 0.2s all ease;
			@include media(s) {
				display: none;
			}
		}
		&::after {
			content: url("../assets/mask-card-white-r.svg");
			position: absolute;
			width: 100%;
			right: -2px;
			max-width: 327px;
			top: -1px;
			@include media(s) {
				content: url("../assets/fundo-teste-mobile.svg");
				width: 327px;
				transform: scale(1.05);
				top: unset;
				bottom: 0;
			}
		}
		.small-category {
			color: #005589;
		}
		.general-text {
			max-width: 396px;
			@include general-text;
			margin-bottom: 23px;
			font-size: 16px;
		}
		.button--container {
			max-width: 210px;
		}
	}

	.redacao {
		grid-area: redacao;
		background: var(--rosa);
		position: relative;
		margin-top: 26px;
		@include media(s) {
			top: 160px;
		}
		@include media(m) {
			top: 200px;
		}
		&:hover {
			&::before {
				transform: rotate(-8deg);
				top: -20px;
			}
			&::after {
				transform: rotate(-8deg);
				top: -20px;
			}
		}
		&::after {
			content: url("../assets/onda-red.svg");
			position: absolute;
			right: -1px;
			transition: 0.2s all ease;

			top: 0;
		}
		&::before {
			content: url("../assets/prancheta.svg");
			position: absolute;
			z-index: 4;
			right: -30px;
			top: -30px;
			transition: 0.2s all ease;
			@include media(s) {
				max-width: 100px;
				content: url("../assets/prancheta-m.svg");
				right: -10px;
			}
		}
		.small-category {
			color: #49002a;
		}
		.general-text {
			max-width: 540px;
		}
		.button--container {
			max-width: 230px;
		}
	}

	.simulado {
		grid-area: simulado;
		background: var(--amarelo);
		overflow: hidden;
		&::after {
			content: url("../assets/ondas.svg");
			position: absolute;
			left: 0;
			top: 70px;
		}
		@include media(s) {
			top: 180px;
		}
		@include media(m) {
			top: 230px;
		}

		.small-category {
			color: #4e4310;
			margin-bottom: 40px !important;
		}
		.arrow-link {
			position: absolute;
			right: 18px;
			top: 30px;
		}
		.general-text {
			color: #4e4310 !important;
		}
		.enem {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 100px;
		}
		.button {
			padding: 14px 30px;
			border-radius: 40px;
			&--container {
				margin-top: 54px;
			}
		}
	}

	.guias {
		grid-area: guias;
		position: relative;
		background: rgba(255, 89, 140, 0.4);
		overflow: hidden;
		@include media(s) {
			top: 200px;
		}
		@include media(m) {
			top: 250px;
		}
		&:hover {
			&::before {
				top: -30px;
			}
		}
		&::before {
			content: url("../assets/estudo-bg.png");
			position: absolute;
			left: 0;
			top: 0;
			max-width: 100%;
			z-index: 2;
			transition: all 0.2s ease-in-out;
		}
		&::after {
			content: url("../assets/onda-red-b.svg");
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1;
		}

		.arrow-link {
			position: absolute;
			right: 18px;
			top: 30px;
			z-index: 3;
		}
		.small-category {
			color: #71132f;
			position: relative;
			z-index: 3;
		}
		.general-text {
			position: relative;
			z-index: 3;
		}
	}

	.tutoria {
		grid-area: tutoria;
		background: #a4be4b;
		padding: 25px 40px !important;
		@include media(s) {
			overflow: hidden;
			top: 220px;
		}
		@include media(m) {
			overflow: hidden;
			top: 270px;
		}
		&:hover {
			&::before {
				transform: rotate(-20deg);
			}
			&::after {
				transform: rotate(-8deg);
			}
		}
		&::before {
			content: url("../assets/sticker-two-f.svg");
			right: -50px;
			position: absolute;
			bottom: -50px;
			z-index: 2;
			transition: 0.2s all ease;
			@include media(s) {
				display: none;
			}
		}

		&::after {
			content: url("../assets/onda-red-b.svg");
			position: absolute;
			bottom: -10px;
			left: 0;
			transition: 0.2s all ease;

			z-index: 1;
		}
		.small-category {
			color: #516511;
			position: relative;
			z-index: 2;
			&::before {
				content: url("../assets/check.svg");
				position: absolute;
				z-index: -1;
				left: -20px;
			}
		}
		.arrow-link {
			position: absolute;
			right: 18px;
			top: 30px;
			z-index: 3;
		}
	}
}

.noticias {
	margin-bottom: 53px;
	.default__container {
		&::before {
			content: url("../assets/noticias.svg");

			@include media(s) {
				background-image: url("../assets/noticias.svg");
				content: "";
			}
		}
		// padding: 0 20px;
	}
	@include media(s) {
		padding-left: 20px;
	}
	@include media(m) {
		padding-left: 20px;
	}

	.container-not {
		display: grid;
		max-width: 1120px;
		margin: 0 auto;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 20px;
		grid-auto-flow: row;
		grid-template-areas:
			"principal principal secundaria secundaria"
			"principal principal terciaria terciaria-2";
		@include media(s) {
			display: flex;
			overflow: auto;
			padding-bottom: 20px;
			&::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
				background-color: #f5f5f5;
				border-radius: 10px;
			}

			&::-webkit-scrollbar {
				width: 10px;
				background-color: #f5f5f5;
			}

			&::-webkit-scrollbar-thumb {
				border-radius: 10px;
				background-color: #fff;
				background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#dc429b), to(#dc429b));
			}
		}
		@include media(m) {
			display: flex;
			overflow: auto;
			padding-bottom: 20px;
			&::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
				background-color: #f5f5f5;
				border-radius: 10px;
				scroll-padding: 20px;
			}

			&::-webkit-scrollbar {
				width: 5px;
				background-color: #f5f5f5;
			}

			&::-webkit-scrollbar-thumb {
				border-radius: 10px;
				background-color: #fff;
				background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#dc429b), to(#dc429b));
			}
		}
	}

	&__card-title {
		margin: 0;
		position: absolute;
		left: 22px;
		bottom: 20px;
		color: var(--texto-neutro);
		@include general-text;
		font-size: 30px;
		line-height: 36px;
		font-weight: 900;
		z-index: 3;
		@include media(s) {
			font-size: 28px;
			margin-bottom: 24px;
			bottom: 30px;
		}
	}

	.card {
		position: relative;
		border: none;
		border-radius: 24px;
		&::before {
			content: url(../assets/onda-pequena.svg);
			position: absolute;
			bottom: -6px;
			@include media(s) {
				content: url(../assets/onda-grande-m-r.svg);
			}
			@include media(m) {
				content: url(../assets/onda-grande-m-r.svg);
			}
		}
		@include media(s) {
			height: 435px;
			max-width: 320px;
			width: 100%;
			overflow: hidden;
			flex-shrink: 0;
			img {
				max-width: 100%;
				height: 435px;
				object-fit: cover;
				object-position: center;
			}
		}
		@include media(m) {
			height: 435px;
			max-width: 320px;
			width: 100%;
			overflow: hidden;
			flex-shrink: 0;
			img {
				max-width: 100%;
				height: 435px;
				object-fit: cover;
				object-position: center;
			}
		}

		&.principal {
			.noticias__card-title {
				max-width: 508px;
				overflow: auto;
				max-height: 72px;
			}
			img {
				max-width: 550px;
				width: 100%;
			}
		}
		img {
			max-width: 100%;
			height: auto;
			border-radius: 24px;
		}
		&.roxo {
			.noticias__card-title {
				font-size: 26px;
				line-height: 28px;
			}
		}
		&.secundaria {
			.noticias__card-title {
				max-width: 460px;
				overflow: auto;
				max-height: 72px;
			}
		}
		.category {
			position: absolute;
			display: block;
			left: 22px;
			top: 22px;
			text-decoration: none;
			@include text-button;
			padding: 9px 15px;
			border-radius: 80px;
			&.yellow {
				color: #564909;
				background: var(--cat-p);
			}
			&.rosa {
				color: #49002a;
				background: var(--cat-s);
			}
			&.roxa {
				color: #131b71;
				background: var(--cat-t);
			}
		}
	}
	.secundaria {
		grid-area: secundaria;
		&::before {
			content: url(../assets/onda-media.svg);
			position: absolute;
			bottom: -6px;
			@include media(s) {
				content: url(../assets/onda-grande-m-ro.svg);
			}
			@include media(m) {
				content: url(../assets/onda-grande-m-ro.svg);
			}
		}
	}

	.terciaria {
		grid-area: terciaria;
	}

	.terciaria-2 {
		grid-area: terciaria-2;
	}

	.principal {
		grid-area: principal;
		&::before {
			content: url(../assets/onda-grande.svg);
			position: absolute;
			bottom: -6px;
			@include media(s) {
				content: url(../assets/onda-grande.svg);
			}
			@include media(m) {
				content: url(../assets/onda-grande.svg);
			}
		}
		.noticias__card-title {
			bottom: 65px;
		}
		.noticias__card-desc {
			position: absolute;
			bottom: 15px;
			@include general-text;
			color: var(--texto-neutro);
			font-size: 16px;
			left: 22px;
		}
	}
}

.foruns {
	margin-bottom: 63px;
	padding: 0 20px;

	.default__container {
		&::before {
			content: url("../assets/foruns.svg");

			@include media(s) {
				background-image: url("../assets/foruns.svg");
				content: "";
			}
		}
		.divider {
			max-width: 100%;
		}
	}
	&__container {
		max-width: 1120px;
		margin: 0 auto;
		padding: 28px 23px 27px;
		background: var(--rosa);
		border-radius: 24px;
		display: flex;
		justify-content: end;
		position: relative;
		@include media(s) {
			overflow: hidden;
		}
		@include media(m) {
			overflow: hidden;
		}
		&::before {
			content: url("../assets/foruns-bg.svg");
			position: absolute;
			left: 0;
			top: 0;
			@include media(m) {
				left: -300px;
			}
			@include media(s) {
				content: "";
				width: 500px;
				height: 151px;
				background-image: url("../assets/fundo-degrade.svg");
				background-repeat: no-repeat;
				top: unset;
				bottom: 0;
				transform: scale(1.2);
			}
		}
		&::after {
			content: url("../assets/woman-lupa.svg");
			position: absolute;
			left: 0;
			top: -30px;
			@include media(s) {
				background-image: url("../assets/woman-lupa.svg");
				background-size: contain;
				background-repeat: no-repeat;
				content: "";
				width: 200px;
				height: 200px;
				bottom: 0;
				top: unset;
			}
		}
		@include media(s) {
			height: 593px;
		}
	}
	&__content {
		max-width: 447px;
		&::before {
			content: url("../assets/mulher-pc.svg");
			position: absolute;
			left: 250px;
			top: 0px;
			@include media(m) {
				display: none;
			}
			@include media(s) {
				top: unset;
				bottom: -74px;
				left: unset;
				right: -35px;
				content: "";
				background-image: url("../assets/mulher-pc.svg");
				background-repeat: no-repeat;
				background-size: contain;
				width: 250px;
				height: 250px;
			}
		}
		.general-text {
			font-size: 20px;
			font-weight: 600;
			color: #49002a;
		}
		.small-category {
			font-size: 32px;
			line-height: 32px;
			margin: 20px 0;
			color: var(--texto-neutro);
			@include media(s) {
				font-size: 40px;
				line-height: 55px;
			}
		}
		.button--container {
			max-width: 207px;
			@include media(s) {
				max-width: 100%;
			}
		}
	}
}

.artigos {
	.default__container {
		&::before {
			content: url("../assets/artigos.svg");

			@include media(s) {
				background-image: url("../assets/artigos.svg");
				content: "";
			}
		}
		.divider {
			max-width: 100%;
		}
		@include media(m) {
			padding: 0 20px;
		}
	}
	margin-bottom: 110px;
	@include media(s) {
		padding-left: 20px;
	}
	.container-artigos {
		max-width: 1120px;
		margin: 0 auto;
		display: flex;
		padding: 20px 17px;
		gap: 20px;

		@include media(m) {
			padding: 0;
			overflow: auto;
			padding-bottom: 20px;
			&::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
				background-color: #f5f5f5;
				border-radius: 10px;
			}

			&::-webkit-scrollbar {
				width: 10px;
				background-color: #f5f5f5;
			}

			&::-webkit-scrollbar-thumb {
				border-radius: 10px;
				background-color: #fff;
				background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#dc429b), to(#dc429b));
			}
		}

		@include media(s) {
			overflow: auto;
			padding: 0;
			padding-bottom: 20px;
			&::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
				background-color: #f5f5f5;
				border-radius: 10px;
			}

			&::-webkit-scrollbar {
				width: 10px;
				background-color: #f5f5f5;
			}

			&::-webkit-scrollbar-thumb {
				border-radius: 10px;
				background-color: #fff;
				background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#dc429b), to(#dc429b));
			}
		}
		.card {
			border-radius: 24px;
			padding-bottom: 40px;
			cursor: pointer;
			flex-shrink: 0;
			@include l-shadow;
			position: relative;
			overflow: hidden;
			width: 352px;
			@include media(s) {
				width: 320px;
			}

			img {
				width: 358px;
				height: 328px;
				object-fit: cover;
				@include media(s) {
					height: 250px;
				}
			}
			&::before {
				content: url("../assets/mask-card-white-a.svg");
				position: absolute;
				bottom: 65px;
				@include media(s) {
					content: url("../assets/mascra-m.svg");
					transform: scale(1.1);
					bottom: 50px;
					left: 14px;
				}
			}
			&.yellow {
				.date,
				.time-reading {
					color: #ad965c;
				}
				.artigos__title {
					color: #725c26;
				}
			}
			&.rosa {
				.date,
				.time-reading {
					color: #ad5c8c;
				}
				.artigos__title {
					color: #722652;
				}
			}
			&.roxo {
				.date,
				.time-reading {
					color: #5c63ad;
				}
				.artigos__title {
					color: #262d72;
				}
			}
			.artigos__title {
				@include general-text;
				font-size: 24px;
				font-weight: 700;
				line-height: 28px;
				margin-bottom: 23px;
				max-height: 140px;
				overflow: auto;
				@include media(s) {
					font-size: 16px;
					line-height: 19px;
				}
			}
			.date,
			.time-reading {
				@include general-text;
				font-weight: 400;
				@include media(s) {
					font-size: 14px;
				}
			}
			.date,
			.artigos__title,
			.time-reading {
				padding: 0 23px;
				position: relative;
				z-index: 2;
			}
			.category {
				position: absolute;
				display: block;
				left: 22px;
				top: 22px;
				text-decoration: none;
				@include text-button;
				padding: 9px 15px;
				border-radius: 80px;
				color: var(--texto-neutro);
				&.yellow {
					background: #ffb800;
				}
				&.rosa {
					background: var(--cat-s);
				}
				&.roxa {
					background: var(--cat-t);
				}
			}
		}
	}
}

.auloes {
	margin-bottom: 177px;
	@include media(s) {
		margin-bottom: 110px;
	}
	.default__container {
		@include media(s) {
			flex-direction: column;
			gap: 12px;
		}
		@include media(m) {
			padding: 0 20px;
		}
		&::before {
			content: url("../assets/aulos.svg");

			@include media(s) {
				background-image: url("../assets/artigos.svg");
				content: "";
			}
		}
		.divider {
			max-width: 313px;
		}
	}
	&__container {
		max-width: 1120px;
		margin: 0 auto;
		display: flex;
		gap: 20px;
		flex-wrap: wrap;
		justify-content: center;
		@include media(s) {
			max-width: 100%;
			padding: 0 20px;
			.slick-list {
				margin: 0 -10px;
				padding: 0;
				padding-left: 10px !important;
			}
		}
		@include media(m) {
			max-width: 100%;
			padding: 0 20px;
			.slick-list {
				margin: 0 -10px;
				.slick-slide {
					width: 265px;
				}
			}
		}

		.card {
			background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url("../assets/artigos.png");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			color: var(--texto-neutro);
			padding: 18px;
			flex-shrink: 0;
			max-width: 265px;
			height: 410px;
			display: flex;
			flex-direction: column;
			border-bottom: 7px solid var(--azul);
			border-radius: 24px;
			position: relative;
			cursor: pointer;
			@include media(s) {
				margin: 0 10px;
				max-width: unset;
			}
			@include media(m) {
				margin: 0 10px;
				max-width: unset;
			}
			&::after {
				content: url("../assets/play.svg");
				position: absolute;
				left: 0;
				right: 0;
				margin: 0 auto;

				top: 120px;
				width: 75px;
				height: 75px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.auloes__date {
				position: relative;
				.date {
					background-color: var(--rosa);
					padding: 9px 10px;
					border-radius: 77px;
					@include general-text;
					font-weight: 700;
					font-size: 16px;
					line-height: 19px;
					display: block;
					position: relative;
					z-index: 2;
					max-width: 146px;
				}
				.hour {
					padding: 9px 10px;
					border-radius: 77px;
					@include general-text;
					font-weight: 700;
					font-size: 16px;
					line-height: 19px;
					color: var(--texto-dark);
					background-color: #26d2e1;
					position: absolute;
					padding-left: 70px;
					top: 0;
					right: 5px;
					height: 36px;
					@include media(s) {
						right: 10px;
					}
					@media (min-width: 400px) {
						right: 20%;
					}
					@media (min-width: 500px) {
						right: 5px;
					}
				}
			}

			p {
				margin: 0;
			}

			.auloes__title {
				margin-top: auto;
				margin-bottom: 14px;
				@include general-text;
				font-size: 24px;
				line-height: 22px;
				font-weight: 700;
				color: var(--cat-azul);
			}
			.auloes__prof {
				max-height: 192px;
				overflow: auto;
				@include general-text;
				font-size: 16px;
				font-weight: 500;
				line-height: 15px;
				b {
					font-weight: 700;
				}
			}
			&.rosa {
				.auloes__title {
					color: var(--cat-s);
				}
				border-bottom: 7px solid var(--cat-s);
			}
			&.yellow {
				.auloes__title {
					color: var(--cat-p);
				}
				border-bottom: 7px solid var(--cat-p);
			}
			&.green {
				.auloes__title {
					color: var(--cat-verde);
				}
				border-bottom: 7px solid var(--cat-verde);
			}
		}
	}
}

.midia {
	margin-bottom: 170px;
	@include media(s) {
		margin-bottom: 79px;
	}
	.container-midia {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		gap: 20px 20px;
		grid-auto-flow: row;
		max-width: 1120px;
		margin: 0 auto;
		position: relative;
		grid-template-areas:
			"podcast podcast videos videos"
			"podcast podcast videos videos"
			"participe participe participe participe";
		.mic {
			position: absolute;
			left: 380px;
			top: -60px;
			z-index: 3;
			@include media(s) {
				right: 0;
				left: unset;
				max-width: 63px;
				height: 63px;
				top: -40px;
				img {
					max-width: 100%;
				}
			}
			@include media(m) {
				display: none;
			}
		}
		@include media(s) {
			display: flex;
			flex-direction: column;
			padding: 0 20px;
			gap: 38px;
		}
		@include media(m) {
			display: flex;
			flex-direction: column;
			padding: 0 20px;
			gap: 38px;
		}
	}

	.card {
		border: none;
		padding: 25px 23px;
		@include media(m) {
			position: relative;
			z-index: 5;
		}
		.big-category {
			margin-bottom: 25px;
			position: relative;
			z-index: 3;
		}
		.general-text {
			font-size: 20px;
			line-height: 24px;
			position: relative;
			z-index: 3;
		}
		.small-category {
			color: var(--texto-neutro);
			font-size: 40px;
			line-height: 40px;
			margin-bottom: 24px;
			position: relative;
			z-index: 3;

			@include media(s) {
				font-size: 20px;
				line-height: 20px;
			}
			@include media(m) {
				font-size: 20px;
				line-height: 20px;
				max-width: 380px;
			}
		}
		.button--container {
			max-width: 208px;
			position: relative;
			z-index: 3;
			@include media(s) {
				max-width: 100%;
			}
		}
		.socials {
			position: absolute;
			bottom: 0;
			@include media(s) {
				bottom: unset;
				top: 35px;
				right: 10px;
			}
			@include media(m) {
				bottom: unset;
				top: 35px;
				right: 10px;
			}
			&__list {
				display: flex;
				list-style: none;
				padding: 0;
				gap: 10px;
				@include media(s) {
					gap: 5px;
				}
				@include media(m) {
					gap: 5px;
				}
				a {
					background-color: var(--texto-neutro);
					padding: 5px;
					border-radius: 14px;
					width: 36px;
					height: 36px;
					display: flex;
					align-items: center;
					justify-content: center;
					@include media(s) {
						width: 24px;
						height: 24px;
						img {
							max-width: 100%;
							height: auto;
						}
					}
					@include media(m) {
						width: 24px;
						height: 24px;
						img {
							max-width: 100%;
							height: auto;
						}
					}
				}
			}
		}
	}
	.podcast {
		grid-area: podcast;
		background-color: var(--verde-agua);
		background-image: url("../assets/card-podcast.svg");
		background-repeat: no-repeat;
		background-position: bottom;
		border-radius: 24px;
		position: relative;
		overflow: hidden;
		@include media(m) {
			background-position: left;
		}
		@include media(s) {
			height: 500px;
			position: sticky;
			top: 0;
		}

		&::before {
			content: url("../assets/mulher-mic.svg");
			position: absolute;
			bottom: -6;
			right: 60px;
			z-index: 2;
		}
		&::after {
			content: url("../assets/man-mic.svg");
			position: absolute;
			right: 0;
			bottom: -5;
		}
	}

	.videos {
		grid-area: videos;
		background-color: #e24541;
		border-radius: 24px;
		@include media(s) {
			height: 500px;
			position: sticky;
			top: 30;
		}
		@include media(m) {
			position: relative;
			overflow: hidden;
		}
		&::after {
			content: url("../assets/man-video.png");
			position: absolute;
			right: 0;
			bottom: -6;
			@include media(s) {
				transform: scale(0.8);
				bottom: -54px;
				right: -54px;
			}
		}
		&::before {
			content: url("../assets/videos.svg");
			position: absolute;
			right: -60px;
			bottom: 10px;
			z-index: 2;
			@include media(s) {
				transform: scale(0.4);
				bottom: unset;
				top: -70px;
				right: -50px;
			}
		}
	}

	.participe {
		grid-area: participe;
		@include media(s) {
			position: sticky;
			top: 60;
		}
		&__container {
			max-width: 1120px;
			margin: 0 auto;
			padding: 28px 23px 27px;
			background: #24d0e0;
			border-radius: 24px;
			display: flex;
			justify-content: end;
			position: relative;
			overflow: hidden;
			@include media(s) {
				height: 500px;
			}
			&::before {
				content: url("../assets/fundo-ask.png");
				position: absolute;
				transform: scale(1.1);
				left: -15px;
				top: 6px;
				overflow: hidden;
				@include media(m) {
					left: -340px;
				}
				@include media(s) {
					content: url("../assets/fundo-ask-m.png");
					top: unset;
					bottom: 0;
					left: unset;
					right: 0px;
				}
			}
			&::after {
				content: url("../assets/woman-lupa.svg");
				position: absolute;
				left: 0;
				top: -30px;
				@include media(s) {
					transform: scale(0.7);
					top: unset;
					bottom: -60px;
					left: -50px;
				}
			}
		}
		&__content {
			max-width: 447px;
			&::before {
				content: url("../assets/mulher-pc.svg");
				position: absolute;
				left: 250px;
				top: 16px;
				@include media(m) {
					display: none;
				}
				@include media(s) {
					transform: scale(0.7);
					top: unset;
					bottom: -110px;
					right: -70px;
					left: unset;
				}
			}
			.general-text {
				font-size: 20px;
				font-weight: 600;
				color: #00474e;
			}
			.small-category {
				font-size: 40px;
				line-height: 40px;
				margin: 20px 0;
				color: var(--texto-neutro);
			}
			.button--container {
				max-width: 207px;
				@include media(s) {
					max-width: 100%;
				}
			}
		}
	}
}

.especial {
	margin-bottom: 179px;

	&__container {
		display: flex;
		gap: 20px;
		max-width: 1120px;
		margin: 0 auto;
		@include media(s) {
			flex-direction: column;
			padding: 0 20px;
			position: relative;
		}
		@include media(m) {
			flex-direction: column;
			padding: 0 20px;
			position: relative;
		}
		.card {
			padding: 47px 36px;
			border-radius: 24px;
			border: none;
			background: url("../assets/fundo-ies.svg");
			color: var(--texto-neutro);
			height: 802px;
			@include media(s) {
				background: url("../assets/fundo-ies-m.svg");
				height: 583px;
				background-size: cover;
				padding: 47px 23px;
				position: sticky;
				top: 200px;
			}
			@include media(m) {
				background: url("../assets/fundo-ies.svg");
				height: 583px;
				background-size: cover;
				background-position: center;
				padding: 47px 23px;
				position: sticky;
				top: 200px;
				background-repeat: no-repeat;
			}
			.button--container {
				max-width: 212px;
				@include media(s) {
					max-width: 100%;
				}
			}

			.big-category {
				font-size: 70px;
				color: var(--azul);
				margin-bottom: 29px;
				@include media(s) {
					font-size: 40px;
				}
				img {
					margin-left: -13px;
					@include media(s) {
						max-width: 120px;
						margin-left: -5px;
					}
				}
			}
			&.curriculo {
				background: url("../assets/fundo-curriculo.svg");
				background-color: #f8d424;
				color: #4d1600;
				@include media(s) {
					background: url("../assets/fundo-curriculo-m.svg");
					background-color: #f8d424;
					height: 514px;
					position: sticky;
					top: 170px;
				}
				@include media(m) {
					background-position: center;
					background-size: cover;
				}

				.button--container {
					max-width: 202px;
					@include media(s) {
						max-width: 100%;
					}
				}
				.big-category {
					color: #4d1600;
				}
			}
		}
	}
}

.dep {
	position: relative;
	.default__container {
		justify-content: space-between;
		@include media(s) {
			justify-content: center;
			flex-direction: column;
			gap: 10px;
		}
		@include media(m) {
			padding: 0 20px;
		}
		&::before {
			display: none;
		}
		.divider {
			max-width: 38%;
		}
	}

	.slide-container {
		background: url("../assets/fundo-depoimentos.png");
		height: 975px;
		display: flex;
		justify-content: center;
		align-items: center;
		@include media(s) {
			background: url("../assets/fundo-dep-m.png");
			background-size: cover;
			overflow: hidden;
			margin-top: -170px;
		}

		.mySwiper {
			max-width: 500px;
			margin: 0 auto;

			.swiper-button-next,
			.swiper-button-prev {
				@include media(s) {
					margin-top: 200px;
				}
			}
			.swiper-button-next,
			.swiper-rtl .swiper-button-prev {
				right: var(--swiper-navigation-sides-offset, -160px);
				left: auto;
				@include general-text;
				font-size: 40px;
				line-height: 34px;
				color: #0b5e65;
				font-weight: 900;
				@include media(s) {
					right: var(--swiper-navigation-sides-offset, 60px);

					font-size: 20px;
					line-height: 16px;
				}
				&::after {
					content: "";
					width: 100px;
					height: 5px;
					background-color: #0b5e65;
					position: absolute;
					bottom: -5px;
					left: 0;
					transition: all 0.3s ease-in;
					@include media(s) {
						bottom: 5;
						width: 70px;
						height: 3px;
					}
				}
				&:hover {
					&::after {
						width: 168px;
						left: -70px;
						@include media(s) {
							width: 80px;
							left: -30px;
						}
					}
				}
			}
			.swiper-button-prev,
			.swiper-rtl .swiper-button-next {
				left: var(--swiper-navigation-sides-offset, -160px);
				right: auto;
				@include general-text;
				font-size: 40px;
				line-height: 34px;
				color: #0b5e65;
				font-weight: 900;
				@include media(s) {
					left: var(--swiper-navigation-sides-offset, 60px);
					font-size: 20px;
					line-height: 16px;
				}
				&::after {
					content: "";
					width: 100px;
					height: 5px;
					background-color: #0b5e65;
					position: absolute;
					bottom: -5px;
					right: 0;
					transition: all 0.3s ease-in;
					@include media(s) {
						bottom: 5;
						width: 70px;
						height: 3px;
					}
				}
				&:hover {
					&::after {
						width: 168px;
						right: -70px;
						@include media(s) {
							width: 80px;
							right: -30px;
						}
					}
				}
			}
			.swiper-wrapper {
				max-width: 322px;
			}
			.swiper-slide {
				background-color: var(--cat-azul);
				height: 446px;
				border-radius: 24px;
				@include media(s) {
					height: 396px;
				}
				@include xl-shadow;
				&::before {
					content: url("../assets/fundo-dep.png");
					position: absolute;
				}
				&::after {
					content: url("../assets/depoimentos-h.svg");
					position: absolute;
					top: 0;
				}
				&:nth-child(odd) {
					&::after {
						content: url("../assets/depoimentos-h.svg");
						position: absolute;
						top: 0;
					}
				}
				&:nth-child(even) {
					&::after {
						content: url("../assets/depoimentos-h-rosa.svg");
						position: absolute;
						top: 0;
					}
				}
				&:last-child {
					&::after {
						content: url("../assets/depoimentos-h-ad.svg");
						position: absolute;
						top: 0;
					}
				}
				.slide-header {
					position: relative;
					z-index: 3;
					display: flex;
					flex-direction: column;
					align-items: center;
					padding: 15px;
					box-sizing: border-box;
					height: 446px;

					@include media(s) {
						height: 396px;
					}
					img {
						text-align: center;
						display: flex;
						align-items: center;
						justify-content: center;
						width: 65px;
						height: 65px;
						border: 8px solid var(--texto-neutro);
						border-radius: 50%;
					}
					.slide-name {
						@include general-text;
						font-size: 28px;
						font-weight: 700;
						color: #00304e;
						margin: 0;
					}
					.slide-member {
						@include general-text;
						font-weight: 400;
						font-size: 16px;
						color: #00304e;
					}
					.slide-text {
						margin-top: auto;
						box-sizing: border-box;
						border-radius: 24px;
						background-color: var(--texto-neutro);
						max-width: 290px;
						padding: 20px;
						margin-bottom: 0;
						text-align: center;
						@include general-text;
						line-height: 19px;
						font-size: 14px;
						@include media(s) {
							max-height: 163px;
							border-radius: 16px;
							overflow: auto;
						}
					}
				}
			}
		}
	}
	.item {
		@include media(s) {
			display: none;
		}
	}
	.item-raio {
		&-1 {
			left: 50px;
		}
		&-2 {
			top: 700px;
			left: 150px;
		}
		&-3 {
			right: 40px;
		}
		&-4 {
			right: 20px;
			bottom: 200px;
		}
	}
}
