<section class="artigos">
	<div class="default__container" data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="400">
		<h3 class="big-category">artigos</h3>
		<div class="divider"></div>
		<div class="button--container"><a href="#" class="button see-all">Acessar</a></div>
	</div>
	<div class="container-artigos">
		<div class="card yellow" data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="400">
			<img src="./assets/artigos.png" alt="" />
			<a href="#" class="category yellow">Comunidade</a>
			<p class="date">Fev 27, 2024</p>

			<h3 class="artigos__title">Plataforma adaptativa com inteligência artificial generativa apoia estudantes em Língua Portuguesa e Matemática </h3>
			<p class="time-reading">8 minutos de leitura</p>
		</div>
		<div class="card rosa" data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="600">
			<img src="./assets/artigos.png" alt="" />
			<a href="#" class="category rosa">Categoria</a>
			<p class="date">Fev 27, 2024</p>

			<h3 class="artigos__title">Plataforma adaptativa com inteligência artificial generativa apoia estudantes em Língua Portuguesa e Matemática </h3>
			<p class="time-reading">8 minutos de leitura</p>
		</div>

		<div class="card roxo" data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="800">
			<img src="./assets/artigos.png" alt="" />
			<a href="#" class="category roxa">Dicas</a>
			<p class="date">Fev 27, 2024</p>

			<h3 class="artigos__title">Plataforma adaptativa com inteligência artificial generativa apoia estudantes em Língua Portuguesa e Matemática </h3>
			<p class="time-reading">8 minutos de leitura</p>
		</div>
	</div>
</section>
