<section class="auloes">
	<div class="default__container">
		<h3 class="big-category">aulões online</h3>
		<div class="divider"></div>
		<p class="text">Escolha sua aula e faça o agendamento</p>
	</div>
	<div class="auloes__container">
		<div class="card">
			<div class="auloes__date">
				<span class="date">24 de dezembro</span>
				<span class="hour">14h 00</span>
			</div>
			<p class="auloes__title">Aulão</p>

			<p class="auloes__prof">
				<b>PEDRO URBANO (Biologia) </b>- Tema: Ecologia e Biotecnologia. <b>EDUARDO PEREIRA (Redação) </b>- Tema: Redação nota mil em 4 passos.
				<b>JOSÉ ANTÔNIO (História)</b> - Tema: Escravidão e racismo, da origem aos dias atuais.
			</p>
		</div>
		<div class="card rosa">
			<div class="auloes__date">
				<span class="date">24 de dezembro</span>
				<span class="hour">14h 00</span>
			</div>
			<p class="auloes__title">Aulão</p>

			<p class="auloes__prof">
				<b>PEDRO URBANO (Biologia) </b>- Tema: Ecologia e Biotecnologia. <b>EDUARDO PEREIRA (Redação) </b>- Tema: Redação nota mil em 4 passos.
				<b>JOSÉ ANTÔNIO (História)</b> - Tema: Escravidão e racismo, da origem aos dias atuais.
			</p>
		</div>
		<div class="card yellow">
			<div class="auloes__date">
				<span class="date">24 de dezembro</span>
				<span class="hour">14h 00</span>
			</div>
			<p class="auloes__title">Aulão</p>

			<p class="auloes__prof">
				<b>PEDRO URBANO (Biologia) </b>- Tema: Ecologia e Biotecnologia. <b>EDUARDO PEREIRA (Redação) </b>- Tema: Redação nota mil em 4 passos.
				<b>JOSÉ ANTÔNIO (História)</b> - Tema: Escravidão e racismo, da origem aos dias atuais.
			</p>
		</div>
		<div class="card green">
			<div class="auloes__date">
				<span class="date">24 de dezembro</span>
				<span class="hour">14h 00</span>
			</div>
			<p class="auloes__title">Aulão</p>

			<p class="auloes__prof">
				<b>PEDRO URBANO (Biologia) </b>- Tema: Ecologia e Biotecnologia. <b>EDUARDO PEREIRA (Redação) </b>- Tema: Redação nota mil em 4 passos.
				<b>JOSÉ ANTÔNIO (História)</b> - Tema: Escravidão e racismo, da origem aos dias atuais.
			</p>
		</div>
		<div class="card">
			<div class="auloes__date">
				<span class="date">24 de dezembro</span>
				<span class="hour">14h 00</span>
			</div>
			<p class="auloes__title">Aulão</p>

			<p class="auloes__prof">
				<b>PEDRO URBANO (Biologia) </b>- Tema: Ecologia e Biotecnologia. <b>EDUARDO PEREIRA (Redação) </b>- Tema: Redação nota mil em 4 passos.
				<b>JOSÉ ANTÔNIO (História)</b> - Tema: Escravidão e racismo, da origem aos dias atuais.
			</p>
		</div>
		<div class="card rosa">
			<div class="auloes__date">
				<span class="date">24 de dezembro</span>
				<span class="hour">14h 00</span>
			</div>
			<p class="auloes__title">Aulão</p>

			<p class="auloes__prof">
				<b>PEDRO URBANO (Biologia) </b>- Tema: Ecologia e Biotecnologia. <b>EDUARDO PEREIRA (Redação) </b>- Tema: Redação nota mil em 4 passos.
				<b>JOSÉ ANTÔNIO (História)</b> - Tema: Escravidão e racismo, da origem aos dias atuais.
			</p>
		</div>
		<div class="card yellow">
			<div class="auloes__date">
				<span class="date">24 de dezembro</span>
				<span class="hour">14h 00</span>
			</div>
			<p class="auloes__title">Aulão</p>

			<p class="auloes__prof">
				<b>PEDRO URBANO (Biologia) </b>- Tema: Ecologia e Biotecnologia. <b>EDUARDO PEREIRA (Redação) </b>- Tema: Redação nota mil em 4 passos.
				<b>JOSÉ ANTÔNIO (História)</b> - Tema: Escravidão e racismo, da origem aos dias atuais.
			</p>
		</div>
		<div class="card green">
			<div class="auloes__date">
				<span class="date">24 de dezembro</span>
				<span class="hour">14h 00</span>
			</div>
			<p class="auloes__title">Aulão</p>

			<p class="auloes__prof">
				<b>PEDRO URBANO (Biologia) </b>- Tema: Ecologia e Biotecnologia. <b>EDUARDO PEREIRA (Redação) </b>- Tema: Redação nota mil em 4 passos.
				<b>JOSÉ ANTÔNIO (História)</b> - Tema: Escravidão e racismo, da origem aos dias atuais.
			</p>
		</div>
	</div>
</section>
