<section class="dep" id="depoimentos">
	<div class="default__container">
		<h3 class="big-category">depoimentos</h3>
		<div class="divider"></div>
		<p class="text">Quem participou recomenda!</p>
	</div>
	<div class="slide-container">
		<div class="mySwiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="slide-header">
						<img src="./assets/img-d.png" alt="" />
						<p class="slide-name">Duda Costa</p>
						<p class="slide-member">Membro há 5 meses</p>
						<p class="slide-text">
							Acredito que assim como eu, muito alunos que estão se preparando para o ENEM se sentem mais seguros com o surgimento dessa plataforma. Além das
							aulas dinâmicas e e-books disponibilizados, ainda consegui baixar um planejamento de estudos. Ela possui tudo que os estudantes precisam para
							realizar a prova.
						</p>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slide-header">
						<img src="./assets/img-d.png" alt="" />
						<p class="slide-name">Duda Costa</p>
						<p class="slide-member">Membro há 5 meses</p>
						<p class="slide-text">
							Acredito que assim como eu, muito alunos que estão se preparando para o ENEM se sentem mais seguros com o surgimento dessa plataforma. Além das
							aulas dinâmicas e e-books disponibilizados, ainda consegui baixar um planejamento de estudos. Ela possui tudo que os estudantes precisam para
							realizar a prova.
						</p>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slide-header">
						<img src="./assets/img-d.png" alt="" />
						<p class="slide-name">Duda Costa</p>
						<p class="slide-member">Membro há 5 meses</p>
						<p class="slide-text">
							Acredito que assim como eu, muito alunos que estão se preparando para o ENEM se sentem mais seguros com o surgimento dessa plataforma. Além das
							aulas dinâmicas e e-books disponibilizados, ainda consegui baixar um planejamento de estudos. Ela possui tudo que os estudantes precisam para
							realizar a prova.
						</p>
					</div>
				</div>
			</div>

			<div class="swiper-button-prev">anterior</div>
			<div class="swiper-button-next">próxima</div>
		</div>
	</div>
	<div class="position-absolute item item-raio-1" data-speed="0.06"><img src="./assets/raio-e-1.svg" alt="" /></div>
	<div class="position-absolute item item-raio-2" data-speed="0.06"><img src="./assets/raio-e-2.svg" alt="" /></div>
	<div class="position-absolute item item-raio-3" data-speed="0.06"><img src="./assets/raio-e-3.svg" alt="" /></div>
	<div class="position-absolute item item-raio-4" data-speed="0.06"><img src="./assets/raio-e-4.svg" alt="" /></div>
</section>
