<section class="especial">
	<div class="especial__container">
		<div class="card">
			<h4 class="big-category">ies <img src="./assets/iesplay.png" alt="" /></h4>
			<p class="general-text">
				Acredito que assim como eu, muito alunos que estão se preparando para o ENEM se sentem mais seguros com o surgimento dessa plataforma. Além das aulas
				dinâmicas e e-books disponibilizados, ainda consegui baixar um planejamento de estudos. Ela possui tudo que os estudantes precisam para realizar a
				prova.
			</p>
			<div class="button--container"><a href="#" class="button">Quero descobrir</a></div>
		</div>
		<div class="card curriculo">
			<h4 class="big-category">dr currículo</h4>
			<p class="general-text">
				Acredito que assim como eu, muito alunos que estão se preparando para o ENEM se sentem mais seguros com o surgimento dessa plataforma. Além das aulas
				dinâmicas e e-books disponibilizados, ainda consegui baixar um planejamento de estudos. Ela possui tudo que os estudantes precisam para realizar a
				prova.
			</p>
			<div class="button--container"><a href="#" class="button white">Enviar currículo</a></div>
		</div>
	</div>
</section>
