<section class="foruns" data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="400">
	<div class="default__container">
		<h3 class="big-category">fóruns</h3>
		<div class="divider"></div>
		<div class="button--container"><a href="#" class="button see-all">Acessar</a></div>
	</div>
	<div class="foruns__container">
		<div class="foruns__content">
			<h5 class="general-text">Desvende o caminho para o sucesso no Enem.</h5>
			<h3 class="small-category">junte-se à comunidade e ilumine seu futuro!</h3>
			<div class="button--container"><a href="#" class="button">Participar</a></div>
		</div>
	</div>
</section>
