<section class="hero">
	<div class="hero__container">
		<img class="logo" src="./assets/logo.svg" alt="" />
		<p class="hero__desc">
			Com o Arena Enem você vai poder estudar quando e onde quiser. <b>Uma plataforma pensada para te ajudar a obter a nota máxima.</b> Notícias, Aulões Online,
			Simulados, e tudo mais pra você
		</p>
		<div class="blue-img" data-aos="fade-right">
			<img src="./assets/estrela.svg" alt="" />
		</div>
	</div>
	<div class="position-absolute item item-raio-1" data-speed="0.06"><img src="./assets/raio-1.svg" alt="" /></div>
	<div class="position-absolute item item-raio-2" data-speed="0.06"><img src="./assets/raio-2.svg" alt="" /></div>
	<div class="position-absolute item item-raio-3" data-speed="0.06"><img src="./assets/raio-3.svg" alt="" /></div>
	<div class="position-absolute item item-raio-4" data-speed="0.06"><img src="./assets/raio-4.svg" alt="" /></div>
	<div class="position-absolute item item-raio-5" data-speed="0.06"><img src="./assets/raio-5.svg" alt="" /></div>
	<div class="position-absolute item item-two-f" data-speed="0.06"><img src="./assets/two-f.svg" alt="" /></div>
	<div class="position-absolute item item-smile" data-speed="0.06"><img src="./assets/smile.svg" alt="" /></div>
	<div class="position-absolute item item-pen" data-speed="0.06"><img src="./assets/pen-a-book.svg" alt="" /></div>
	<div class="position-absolute item item-rock" data-speed="0.06"><img src="./assets/rock.svg" alt="" /></div>
</section>
