<section class="midia">
	<div class="container-midia">
		<div class="podcast card">
			<h4 class="big-category">podcast</h4>
			<p class="general-text">Ouça nosso podcast sobre Enem!</p>
			<h5 class="small-category">potencialize seu sucesso com nosso podcast</h5>
			<div class="button--container">
				<a href="#" class="button pink">Ouvir agora</a>
			</div>
			<div class="socials">
				<ul class="socials__list">
					<li>
						<a href="#"><img src="./assets/ytb.svg" alt="" /></a>
					</li>
					<li>
						<a href="#"><img src="./assets/spotify.svg" alt="" /></a>
					</li>
					<li>
						<a href="#"><img src="./assets/heart.svg" alt="" /></a>
					</li>
					<li>
						<a href="#"><img src="./assets/apple-m.svg" alt="" /></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="videos card">
			<h4 class="big-category">vídeos</h4>
			<p class="general-text">Desbrave o Enem em vídeos envolventes</p>
			<h5 class="small-category">mergulhe agora em nossa plataforma</h5>
			<div class="button--container">
				<a href="#" class="button yellow" style="color: #000">Ouvir agora</a>
			</div>
		</div>
		<div class="participe">
			<div class="participe__container">
				<div class="participe__content">
					<h5 class="general-text">Encontre respostas, alcance seu potencial</h5>
					<h3 class="small-category">participe do Q&A Enem agora!</h3>
					<div class="button--container"><a href="#" class="button">Participar</a></div>
				</div>
			</div>
		</div>
	</div>
</section>
