<section class="noticias" id="noticias" data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="500">
	<div class="default__container">
		<h3 class="big-category">notícias</h3>
		<div class="divider"></div>
		<div class="button--container"><a href="#" class="button see-all">Ver todas</a></div>
	</div>
	<div class="container-not">
		<div class="card principal">
			<a href="#">
				<img src="./assets/img-d.png" alt="" />
				<a href="#" class="category yellow">Principal</a>
				<h4 class="noticias__card-title">Inscrições abertas para o Prouni 2023.2</h4>
				<p class="noticias__card-desc">Interessados podem se candidatar até o dia 30 de junho.</p>
			</a>
		</div>
		<div class="card secundaria">
			<a href="#">
				<img src="./assets/img-d2.png" alt="" />
				<a href="#" class="category rosa">Secundária</a>
				<h4 class="noticias__card-title">Enem 2023: Veja a quantidade de inscritos por estado</h4>
			</a>
		</div>
		<div class="card roxo terciaria">
			<a href="#">
				<img src="./assets/img-d.png" alt="" />
				<a href="#" class="category roxa">Terciária</a>
				<h4 class="noticias__card-title">Enem 2023: Veja a quantidade de inscritos por estado</h4>
			</a>
		</div>
		<div class="card roxo terciaria-2">
			<a href="#">
				<img src="./assets/img-d.png" alt="" />
				<a href="#" class="category roxa">Terciária</a>
				<h4 class="noticias__card-title">Último dia de inscrições para o Sisu 2023.2</h4>
			</a>
		</div>
	</div>
</section>
