:root {
	--amarelo: #ffec00;
	--azul: #00adff;

	--rosa: #ff598c;
	--verde: #516511;
	--verde-agua: #03c798;
	--amarelo-dark: #f9ca51;
	--roxo: #59628a;
	--bg-header: #dc429b;
	--cat-p: #f8d424;
	--cat-s: #dc429b;
	--cat-t: #757fe9;
	--cat-azul: #36b3ff;
	--cat-verde: #a4be4b;
	--texto-neutro: #fff;
	--texto-dark: #263238;
}
